/* CSS declarations go here */

/* welcome template */
#welcomeDiv {
	background-image: url(http://vignette2.wikia.nocookie.net/matrix/images/d/df/Thematrixincode99.jpg/revision/latest?cb=20140425045724);
  background-size: 100%;
  min-height:550px;
  background-repeat: no-repeat;
}

#enterDiv {
	text-align: center;
}
.thumbnail {
  min-height:500px;
  max-height:500px;
}

.image-size {
	max-height:300px;
	border-radius: 10px;
}

.image-large {
	height: 747px;
	border-radius: 10px;
}

#login-dropdown-list {
	left: -90px;
}

.image-caption {
  word-wrap: break-word;
}

body {
	padding-top: 90px;
	background-color: black;
}

.navbar {
	background-color: lightsalmon;
}

#modal-content {
  border-radius: 40px;
  margin-top: 20px;
  position: relative;
  top: 30px;
  background-color: lightgray;
}
